<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Movimentação</title>
</head>
<body>
    <h1>Detalhes da Movimentação</h1>
    <p><strong>Quantidade:</strong> {{ object.qtde }}</p>
    <p><strong>Data:</strong> {{ object.data }}</p>
    <p><strong>Empresa:</strong> {{ object.id_empresa }}</p>
    <p><strong>Produto:</strong> {{ object.id_produto }}</p>
    <p><strong>Usuário:</strong> {{ object.id_usuario }}</p>
    <a href="{% url 'movimentacoes-list' %}">Voltar</a>
</body>
</html>
