<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
</head>
<body>
    <h1>Estoque</h1>
    <a href="{% url 'estoque-create' %}">Adicionar Item ao Estoque</a>
    <ul>
        {% for estoque in estoques %}
        <li>
            <a href="{% url 'estoque-detail' estoque.pk %}">
                {{ estoque.id_produto.nome }} - {{ estoque.qtde }} - {{ estoque.id_produto.id_formato.formato }} - {{ estoque.calculo }} Unidades
            </a>
            - <a href="{% url 'estoque-update' estoque.pk %}">Editar</a>
            - <a href="{% url 'estoque-delete' estoque.pk %}">Deletar</a>
        </li>
        {% empty %}
        <li>Nenhum item no estoque.</li>
        {% endfor %}
    </ul>
</body>
</html>
