<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Estoque</title>
</head>
<body>
    <h1>Deletar Estoque</h1>
    <p>Tem certeza de que deseja remover o item "{{ object.id_produto.nome }}" do estoque?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sim, Deletar</button>
    </form>
    <a href="{% url 'estoque-list' %}">Cancelar</a>
</body>
</html>
